body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Navbar Style */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.45); /* Set background to 45% transparent */
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: #a9a9a9; /* Light grey color */
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar a:hover {
    color: white; /* Change text color to white on hover */
}

.navbar .active {
    color: white; /* Ensure active link has white text */
}

/* Section Style */
.section {
    padding: 40px;
    transition: background-color 0.3s ease;
    color: #fff;
}

#section1 {
    background-image: url('images/HST_ISM.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: left ;
    text-align: left;
    height: 100vh;
    font-size: 1.2rem;
}

#section1 h1 {
    color: white;
    font-weight: bold;
}
#section1 h2 {
    color: lightgrey;
}
#section1 p {
    color: lightgrey;
}

/* Image styling for the top-left corner */
#section1 .right-img {
    float: right;  /* Float the image to the right */
    margin-top: 60px;
    margin-left: 20px;  /* Adds space between the image and the text */
    margin-bottom: 10px;  /* Adds space below the image */
    width: 270px;  /* Set the width of the image */
    height: 270px;  /* Maintain aspect ratio */
    object-fit: contain;
    border-radius: 8px;
}

/* Sections 2, 3, and 4 with black background */
.section:nth-child(2) {
    background-color: black;
    color: white;
}

.section:nth-child(3) {
    background-image: url('images/a1e862f011e175bd.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.section:nth-child(4) {
    background-color: black;
    color: white;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section p {
    color: lightgrey;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0; /* Remove any padding */
}

.section p.second {
    text-indent: 25px;
    color: lightgrey;
    margin: 0;
}

.section p.second-noindent {
    text-indent: 0px;
    color: lightgrey;
    margin: 0;
}

.section a {
    color: lightgrey; /* Set the color of the links to light grey */
}

.section a.no-underline {
    text-decoration: none;
    color: lightgrey; /* Set the color of the links to light grey */
}

/* Optional: Add hover effect */
.section a:hover {
    color: white; /* Slightly lighter grey for hover effect */
}

.image-wrap {
    float: left; /* Float the image to the left */
    margin-right: 20px; /* Space between the image and text */
    margin-bottom: 10px; /* Space between the image and the bottom text */
}

